* {
    font-family: sans-serif;
}

html,
body,
header,
.landing {
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;

}

.nav-link {
    color: white;
    padding: 5px;
}

ul {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
}

.landing {
    background-image: url('/images/pizza-table.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 20px;
    position: relative;
    overflow-x: hidden;
}
